{% for chat_item in conversation_data %}
    {% if chat_item['sender'] != 'System Message' %}
        <div class="flex items-start gap-2.5 mx-4 my-3">
            <img class="w-8 h-8 rounded-full" src="https://i1.sndcdn.com/artworks-csS0KMfy54ypqFXq-WTMOyg-t500x500.jpg" alt="System image">
            <div class="flex flex-col w-full max-w-[90%] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ chat_item['sender'] }}</span>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ chat_item['time'] }}</span>
            </div>
        <p class="text-sm font-normal py-2 text-gray-900 dark:text-white">
            {{ chat_item['message'] }}
        </p>
            </div>
        </div>
    {% else %}
        <div class="flex items-start gap-2.5 mx-4 my-3">
            <img class="w-8 h-8 rounded-full" src="https://www.gstatic.com/lamda/images/sparkle_resting_v2_darkmode_2bdb7df2724e450073ede.gif" alt="System image">
            <div class="flex flex-col w-full max-w-[90%] leading-1.5 p-4 border-gray-200 bg-gray-100 rounded-e-xl rounded-es-xl dark:bg-gray-700">
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
                <span class="text-sm font-semibold text-gray-900 dark:text-white">{{ chat_item['sender'] }}</span>
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ chat_item['time'] }}</span>
            </div>
            <p class="text-sm font-normal py-2 text-gray-900 dark:text-white">
                {{ chat_item['message'] }}
            </p>
            </div>
         </div>
    {% endif %}
{% endfor %}